.tableContainer {
  width: 80%;
  margin: 6em auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper .searchField {
  position: relative;
  padding: 8px 10px;
  width: 300px;
  appearance: none;
  border-radius: 4px;
  font-size: 12px;
  outline: none;
  border: 0.5px solid var(--light);
  margin-left: -2px;
}

.wrapper form > .searchButton {
  background-color: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 10px;
  opacity: 0.4;
  display: inline;
  margin-left: -3.4em;
}

.wrapper .searchButton:hover {
  color: var(--secondary);
}

.wrapper .button {
  background-color: var(--secondary);
  border: none;
  padding: 8px 30px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
  color: var(--white);
}

.wrapper :nth-child(2) {
  margin-left: 10px;
}

.wrapper .button > select {
  background-color: transparent;
  color: var(--white);
  border: none;
  outline: none;
  font-size: 14px;
}

.wrapper .button > select > option {
  color: var(--dark-grey);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 14px;
}

.wrapper .button a {
  text-decoration: none;
  color: var(--white);
}

.wrapper .button:hover {
  opacity: 0.8;
  transition: 0.5s;
}

@media (max-width: 420px) {
  .tableContainer {
    margin: 4.2em auto;
  }

  .wrapper {
    justify-content: space-evenly;
    flex-direction: column;
  }

  .wrapper .searchField {
    padding: 8px 10px;
    width: 90%;
    font-size: 10px;
  }

  .wrapper .button {
    padding: 6px 10px;
    margin: 10px 0px;
    font-size: 12px;
  }

  .wrapper .button > select {
    font-size: 12px;
    padding: 0;
  }
}
